@model IEnumerable<CabBookingSystem.Models.Cab>

<h1>Cabs List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Cab Number</th>
            <th>Driver Name</th>
            <th>Cab Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cab in Model)
        {
            <tr>
                <td>@cab.CabNumber</td>
                <td>@cab.DriverName</td>
                <td>@cab.CabType</td>
                <td><a href="/Cab/Details/@cab.CabId">Details</a></td>
            </tr>
        }
    </tbody>
</table>
